/* Archivo styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 1.5em 0;
    color: black;
    font-weight: bold;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 2em;
}

.formulario-contacto {
    max-width: 500px; /* Define un ancho máximo para el formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    padding: 1.5em;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color:black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

input, textarea, button {
    font-size: 1em;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    max-width: 200px;
    margin: 0 auto;
    background-color: orange;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    padding: 0.5em 1em;
}



button:hover {
    background-color: darkorange;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: rgb(121, 134, 153);
    color: white;
    margin-top: 2em;
}
